@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;

.header {
  color: @light-blue;
}

.hashtag {
  font-weight: 600;
  color: #292929;
}

.mx_flag {
   background-image: url("../img/flags/MX.svg");
   width:16px;
   height:16px;
   background-size: 16px 16px;
}
.fr_flag {
   background-image: url("../img/flags/FR.svg");
   width:16px;
   height:16px;
   background-size: 16px 16px;
}
.us_flag {
   background-image: url("../img/flags/US.svg");
   width:16px;
   height:16px;
   background-size: 16px 16px;
}
.th_flag {
   background-image: url("../img/flags/TH.svg");
   width:16px;
   height:16px;
   background-size: 16px 16px;
}
.in_flag {
   background-image: url("../img/flags/IN.svg");
   width:16px;
   height:16px;
   background-size: 16px 16px;
}
